.w100 {
    width: 100%;
}

.place-order {
    margin-left: 100px;
    margin-right: 176px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 150px;
    padding: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.place-order-left {
    flex: 1;
    padding: 20px;
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.place-order-left input {
    margin-bottom: 5px;
    padding: 19px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button {
    margin-top: 30px;
}

.place-order-left button {
    color: white;
    background-color: tomato;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 0;
    margin-left: 2px;
}

input:invalid,
input.error {
    border-color: red;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    margin-right: 10px;
}

.cart-total {
    margin-top: 20px;
}

.title {
    font-weight: bold;
    margin: 20px 0 10px;
}

.title1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.gk {
    width: 100%;
}

#tb {
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 266px;
}

.multi-fields {
    display: flex;
    gap: 10px;
}

.radio-container {
    margin-bottom: 7px;
    border: 1px solid #e9e7e7;
    border-radius: 5px;
    padding: 10px;
    background: #fbfbfb;
}

.font-500 {
    font-size: large;
    font-weight: 500;
}

.pr-5 {
    padding-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.cross1 {
    cursor: pointer;
    color: black;
    font-size: 1.3em;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.editCartLinkBtn {
    color: tomato;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 13px;
}

.editCartLinkBtn:hover {
    border-bottom: 2px solid tomato;
}


/* .radio-container input:checked {
    background: yellow;
    outline: 2px solid deeppink;
} */