.w100 {
    width: 100%;
}

.place-order {
    margin-left: 100px;
    margin-right: 176px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 170px;
    padding: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 0;
    /* Remove bottom margin to ensure no space between input and error */
}

.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input {
    margin-bottom: 5px;
    /* Adjust margin for input fields */
    width: 100%;
    padding: 19px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button {
    margin-top: 30px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 0;
    margin-left: 2px;
}

input:invalid,
input.error {
    border-color: red;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.cart-total {
    margin-top: 20px;
}

.gk {
    margin-top: 30px;
}